.overflow-y {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary-color-400);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark);
}

.border-circle {
  border-radius: 50%;
}
